# Flutter/Dart
.dart_tool/
.packages
build/
*.iml
.idea/
.vscode/
*.lock
!pubspec.lock

# Android
android/.gradle/
android/local.properties
android/gradle.properties
android/gradlew*
android/gradle/wrapper/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/

# macOS
macos/Pods/
macos/Flutter/ephemeral/

# Misc
*.log
*.pyc
~/
.reasonix/
